body {
	font-family: 'Montserrat', sans-serif;
}

/*.header {
    text-align: center;
    margin: 0 2px 32px 0;
    background-image: url("../img/destaque.jpeg");
    padding-top: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #030101;
   /* display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header .mainmenu .menuitem {
    text-align: center;
    margin: 0 2px 32px 0;
}*/

.header {
    background: url('../img/destaque.jpeg') no-repeat;
    background-size: cover;
    /*padding-top: 40px;
    padding-bottom: 50px;*/
    padding: 40px;
}

.header .mainmenu {
    text-align: center;
}

.inscrevase {
    text-align: center;
}


.header .mainmenu .menuitem {
    display: inline-block;
    margin: 0 2px 32px 0;
}


nav li {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
	padding: 25px;
    margin: 10px;
    border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
    background: rgba(183, 168, 248, 0.452);    
}

.menuli {
    color: white;
    text-decoration: none;
    text-align: center;
}

nav li:hover {
    background: rgb(14, 48, 243);
}

.text {
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    color: #ffff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000000;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 250, 250);
    text-transform: uppercase;
    padding: 30px 0 50px 0;
}

.button {
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
	padding: 20px;
    margin: 10px;
    background: #244980;
    border: none;
	border-radius: 5px;
    box-shadow: 1px 1px 1px #000000;
}

.panel-about {
    background: #ffffff;
    margin-top: 20px;
    padding: 25px 0;
    text-align: center;
}

.titulo {
    font-weight: bold;
    color:black;
    font-size: 1.5em;
    margin: 0 5px 5px 0;
}

.subtitulo {
    font-weight: bold;
    color:black;
    font-size: 1.2em;
    line-height: 35px;
}

.description p {
    color:black;
    font-size: 1em;
    line-height: 35px;
}

.palestrantes {
    background-color: rgb(252, 60, 26);
    text-align: center;
    padding-bottom: 50px;
}

.subtitulo_palestrantes {
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    font-size: 1.2em;
    line-height: 50px;
}

.descricao_palestrantes {
    color:white;
    margin-bottom: 16px;
}

.arredondainferno {
    border-radius: 100px;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.palestrantes_lista {
    display: inline-block;
    background-color: white;
	text-align: center;
	vertical-align: top;
	margin: 15px 15px;
	padding: 30px 20px;
	box-sizing: border-box;
	border-radius: 10px;
    width: 250px;
}

.cargo {
    font-weight: bold;
    margin: 10px;
}

/*.palestrantes_lista {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
    gap: 10px;
    background-color: white;
	text-align: center;
	vertical-align: top;
	margin: 0 10px;
	padding: 30px 20px;
	box-sizing: border-box;
	border-radius: 10px;
}*/

.formulario {
    background-color: #ffffff;
    text-align: center;
    display: block;
    font-weight: bold;
}

.formtitulo {
    font-weight: bold;
    color: rgb(252, 60, 26);
    font-size: 1.5em;
    /*margin: 0 5px 5px 0;*/
}

.inputpadrao {
	display: block;
    border: 1px solid;
    border-color: #adadad;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(252, 60, 26, 0.411);
    border-radius: 10px;
    text-align: center;
}

.enviar {
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
	padding: 20px;
    margin: 10px;
    background: #244980;
    border: none;
	border-radius: 5px;
    box-shadow: 1px 1px 5px #000000;
}

.enviar:hover {
    background: rgb(14, 48, 243);
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 8em;
        font-weight: bold;
        color: #ffff;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #000000;
    }
    
    h2 {
        font-size: 2em;
        font-weight: bold;
        color: rgb(255, 250, 250);
        text-transform: uppercase;
        padding: 30px 0 50px 0;
    }
}